.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 0.9s;
}  

.show {
    opacity: 1;
    transform: translateX(0);
}


@font-face {
    font-family: 'Monckeberg';
    src: local('Monckeberg Regular'), local('Monckeberg-Regular'),
        url('Fonts/Monckeberg-Regular.woff2') format('woff2'),
        url('Fonts/Monckeberg-Regular.woff') format('woff'),
        url('Fonts/Monckeberg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Monckeberg Light';
    src: local('Monckeberg Light'), local('Monckeberg-Light'),
        url('Fonts/Monckeberg-Light.woff2') format('woff2'),
        url('Fonts/Monckeberg-Light.woff') format('woff'),
        url('Fonts/Monckeberg-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

body{
    margin: 0;
    padding: 0;
    background: rgb(57,52,52);
    background: linear-gradient(90deg, rgba(57,52,52,1) 65%, rgba(22,26,29,1) 100%);
}

.header{
    height: 80px;
    width: 100%;
    background-color: #0B090A;
    display: flex;
}

.navBar{
    position: sticky;
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.navElement{
    color: white;
    font-size: 18pt;
    padding-top: 5px;
    font-family: 'Monckeberg';
    text-decoration: none;
    position: relative;
    margin: 0 137px; /* Adjust the margin to add space between elements */
}

.red-bar {
    position: absolute;
    bottom: 0;
    height: 4px; /* Adjust the height of the red bar */
    background-color: red;
    width: 0; /* Initial width is 0 */
    transition: width 0.3s ease; /* Removed left property from transition */
    left: 0; /* Start from the left edge of the anchor */
}

.navElement:hover .red-bar,
.navElement.active .red-bar {
    width: 100%; /* Expand the red bar to full width on hover or for the active link */
}

#mainNavImg{
    display: inline;
    height: 150px;
    padding-left: 70px;
    padding-top: 30px;
}

#homeSlogan {
    display: flex;
    height: 120px;
    padding-top: 55px;
    justify-content: center;
    color: white;
    font-family: 'Monckeberg';
    font-size: 70pt;
    font-weight: 1000;
    white-space: nowrap;
    opacity: 1; 
    animation: fadeInSlogan 3s ease forwards; 
}

@keyframes fadeInSlogan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#homeSlogan .slogan-line {
    margin-right: 260px;
    margin-left: 260px;;

}

.homeimgs{
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#homeimg1{
    height: 700px;
    width: 50%;
    float: left;
}

#homeimg2{
    height: 700px;
    width: 50%;
    float: right;
}

.TestimonalsContainer{
    text-align: center;
    padding-top: 130px; /* Adjust the value to add more space */
    padding-bottom: 20px; /* Adjust the value to add more space */
}

.counterImg{
    width: 50%;
}

#testHeader{
    position: relative;
    color:#DBDADA;
    font-size: 50pt;
    text-align: center;
    font-family: 'Monckeberg';
}

#testHeader::after{
    content: "";
    display: block;
    width: 200px; /* Adjust the width of the bar */
    height: 3px; /* Adjust the height and thickness of the bar */
    background-color: #DBDADA; /* Adjust the color of the bar */
    position: absolute;
    bottom: -5px; /* Adjust the distance between the text and the bar */
    left: 50%;
    transform: translateX(-50%);
}

.Testimonials {
    max-width: 400px; /* Adjust the maximum width of the testimonial section */
    margin: auto; /* Center the testimonial section */
}

.swiper-container{
    overflow: hidden;
    width: auto; /* Set your desired fixed width */
    height: 175px; /* Set your desired fixed height */
}

.swiper-slide {
    text-align: center;
    font-size: 24pt;
    background-color: #353232;; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #DBDADA;
    font-family: 'Monckeberg Light';
    
}

.testimonial-author {
    font-style: italic;
    color: #E5383B;
    margin-top: 10px;
    font-family: 'Monckeberg Light';
}

.servicesSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.martini{
    width: 65px;
    padding-top: 70px;
    padding-left: 48.5%;
}

#serviceHeader{
    position: relative;
    color:#DBDADA;
    font-size: 50pt;
    padding-left: 20px;
    text-align: center;
    font-family: 'Monckeberg';
}

#serviceHeader::after {
    content: "";
    display: block;
    width: 200px; /* Adjust the width of the bar */
    height: 3px; /* Adjust the height and thickness of the bar */
    background-color: #DBDADA; /* Adjust the color of the bar */
    position: absolute;
    bottom: -5px; /* Adjust the distance between the text and the bar */
    left: 50%;
    transform: translateX(-50%);
}

#servicesItalics{
    color: white;
    text-align: center;
    font-size: 24pt;
    font-family: 'Monckeberg Light';
    font-style: italic;
}

#servicesParagraph{
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family: 'Monckeberg Light';
    max-width: 70%;
    padding-left: 14%;
}

.servicesContainer{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly; 
    align-items: center; 
}

.serviceImg{
    width: 100%;
    height: 600px;
    opacity: 1;
    transition: .5s ease;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    border-width: 5;
}

.servicesDivs{
    position: relative;
    overflow: hidden;
}

.servicesDivs .overlay-box{    
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20;
    opacity:0;
    transition: opacity 0.5s ease;
    z-index: 1;
    border-radius: 40px;
    overflow: hidden;
  }
  

  .servicesDivs:hover .serviceImg {
    opacity: 0.5;
 }

    .servicesDivs:hover .overlay-box {
        opacity: 1;
}

 .serviceDescription{
    color:white;
    font-size: 32pt;
    font-family: 'Monckeberg';
    padding-left: 10px;
    padding-bottom: 520px;
    text-align: center;
 }


 .aboutUsHeader{
    color:#DBDADA;
    font-size: 50pt;
    padding-left: 160px;
    padding-top: 150px;
    margin-bottom: 0;
    font-family: 'Monckeberg';

}


.aboutSection{
    display: flex;
    gap: 20px;
    text-align: left;
    margin-bottom: 200px;
    font-family: 'Monckeberg Light';
}


.foundersPic{
    width: 550px;
    order: 1;
    padding-right: 100px;
    padding-bottom: 40px;
}


  #aboutDescription {
    font-size: 24pt;
    color: white;
    padding-top: 200px;
    position: relative;
    max-width: 900px; /* Adjust the maximum width of the bubble */
    margin: auto; /* Center the bubble */
    padding: 30px; /* Padding inside the bubble */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 50px; /* Rounded corners for the bubble */
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1); /* Shadow for the bubble */
    animation: floatBubble 2s infinite alternate; /* Bubble floating animation */
}

@keyframes floatBubble {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}


#contactHeader{
    color:#DBDADA;
    text-align: center;
    font-size: 50pt;
    padding-left: 40px;
    font-family: 'Monckeberg';
}

.contactsSection{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 100px;
    padding-left: 50px;
    font-family: 'Monckeberg Light';
}

.emailDiv{
    background-color: #353232;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.callDiv{
    background-color: #353232;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#instaPhoto{
    width: 160px;
    padding-left: 15px;
}

.socialDiv{
    background-color: #353232;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.callDiv,
.socialDiv {
    transition: width 0.3s ease, height 0.3s ease;
}

.callDiv:hover,
.socialDiv:hover {
    width: 250px; /* Adjust the expanded width */
    height: 350px; /* Adjust the expanded height */
}

.emailDiv{
    transition: width 0.3s ease, height 0.3s ease;
}

.emailDiv:hover{

    width: 350px; /* Adjust the expanded width */
    height: 350px; /* Adjust the expanded height */
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0B090A;
    color: white;
    font-family: 'Monckeberg';
  }

  #websiteDev{
    text-align: end;
    padding-right: 10px;
  }