@font-face {
    font-family: 'Monckeberg';
    src: local('Monckeberg Regular'), local('Monckeberg-Regular'),
        url('Fonts/Monckeberg-Regular.woff2') format('woff2'),
        url('Fonts/Monckeberg-Regular.woff') format('woff'),
        url('Fonts/Monckeberg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0;
    padding: 0;
    background-color:#161A1D;
}

.header{
    height: 100px;
    width: 100%;
    background-color: #0B090A;
    display:flex;
    justify-content: center;
    align-items: center; 
}

nav{
    display: flex;
}

.navElement{
    display: inline;
    color: white;
    font-size: 18pt;
    padding-left: 75px;
    padding-right: 75px ;
    padding-top: 175px;
    font-family: 'Monckeberg';
}

#mainNavImg{
    display: inline;
    left: 50%;
    padding-left: 5px;
    padding-top: 50px;
    height: 330px;
}

#homeSlogan {
    display: flex;
    height: 120px;
    justify-content: center;
    color: white;
    font-family: 'Monckeberg';
    font-size: 80pt;
    font-weight: 1000;
    white-space: nowrap;
    opacity: 1; 
    animation: fadeInSlogan 3s ease forwards; 
}

@keyframes fadeInSlogan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#homeSlogan .slogan-line {
    margin-right: 260px;
    margin-left: 260px;;

}

.homeimgs{
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#homeimg1{
    height: 700px;
    width: 50%;
    float: left;
}

#homeimg2{
    height: 700px;
    width: 50%;
    float: right;
}

.mainInfo{
    text-align: center;
}

#logo{
    width: 600px;
    padding-left: 20px;
    margin: 0;
    padding-bottom: 0px;
}

#companyDescription{
    display: inline-block;
    width: 100%;
    font-size: 22pt;
    color: #E5383B;
    font-family: 'Monckeberg';
    margin: 0;
    padding-bottom: 200px;
}

.foundersPic{
    width: 700px;
    float: right;
    animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.aboutUs{
    color:white;
    font-size: 50pt;
    padding-left: 50px;

}

#aboutDescription{
    font-size: 28pt;
    
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

